<footer class="footer bg-inverse text-center">
    <div class="container margin-container">
        <div class="row">
            <div class="col-sm">
                <h3 class="titulos-footer">Siguenos</h3>
                <a class="navbar-brand" href="https://www.facebook.com/Cosechandoconamor">
                    <img src="../../../assets/facebook-svgrepo-com.svg" width="30" height="30" class="d-inline-block align-top"
                        alt="">
                </a>
                <a class="navbar-brand paddind-icons" href="https://instagram.com/esencicolombia">
                    <img src="../../../assets/instagram-svgrepo-com.svg" width="30" height="30" class="d-inline-block align-top"
                        alt="">
                </a>
                <a class="navbar-brand paddind-icons" href="https://api.whatsapp.com/send?phone=573017840708">
                    <img src="../../../assets/whatsapp-svgrepo-com.svg" width="30" height="30" class="d-inline-block align-top"
                        alt="">
                </a>
            </div>
            <div class="col-sm">
                <h3 class="titulos-footer">Contactanos</h3>
                <p>+57 301 784 0708</p>
                <p>cosechandoconamor@gmail.com</p>
            </div>

        </div>
    </div>
    
</footer>